
.movie-list{
    display: flex !important;
}

.movie{
    margin-bottom: 5rem !important;
    /* width: 25%; */
    flex-grow: 2 !important;
}

.btn-container {
    background-color: #eee;
}

.movie-btn {
    margin-right: .5rem;
    background-color: transparent;
    font-weight: semibold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    /* aeroventilas nuestro botón */
    border: 2px solid #eee;
    /* nos ayudará con el efecto */
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    /* todas las trancisiones durarán un segundo */
    box-shadow: .5em .5rem 1rem #ccc,
        -.5em -.5rem 1rem #fff;
        /* desplazar x,  y, blur radius, color */
}

.sell-rent-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ffaa3c;
    font-size: 16px;
    cursor: pointer;
    color: #784f1a;
  }
  
  .sell-rent-btn:hover {
    background-color: #f0b970;
  }
  
  .sell-rent-btn:active {
    background-color: #f0b970;
  }


.movie-btn:hover {
    box-shadow: .5em .5rem 1rem #fff, -.5em -.5rem 1rem #ccc
}

.movie-btn:active {
    box-shadow: inset .2rem .2rem 1rem #fff, inset -.2rem -.2rem 1rem #ccc
}




/* ------------------------------------------------------------------------------------------------------------------- */

























