/* 
.movie-list{
    display: flex !important;
}

.movie{
    margin-bottom: 5rem !important;
    flex-wrap: wrap !important;
} */
/* Estilos para la cuadrícula de películas */
/* Estilos generales para las tarjetas de películas */
/* Estilos para la cuadrícula de películas */
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .movie {
    flex-basis: calc(25% - 20px); /* 4 columnas por fila con espacio entre ellas */
    box-sizing: border-box;
    background-color: #f9f9f9; /* Color de fondo de las tarjetas */
    border: 1px solid #ddd; /* Borde de las tarjetas */
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .movie:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el cursor por encima */
  }
  
  .movie-poster img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para hacer las tarjetas responsivas */
  @media (max-width: 768px) {
    .movie {
      flex-basis: calc(50% - 20px); /* 2 columnas por fila en dispositivos más pequeños */
    }
  }
  
  @media (max-width: 480px) {
    .movie {
      flex-basis: 100%; /* Una columna completa en dispositivos aún más pequeños */
    }
  }
  
  

.btn-container {
    background-color: #eee;
}

.movie-btn {
    margin-right: .5rem;
    background-color: transparent;
    font-weight: semibold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    /* aeroventilas nuestro botón */
    border: 2px solid #eee;
    /* nos ayudará con el efecto */
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    /* todas las trancisiones durarán un segundo */
    box-shadow: .5em .5rem 1rem #ccc,
        -.5em -.5rem 1rem #fff;
        /* desplazar x,  y, blur radius, color */
}

.sell-rent-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ffaa3c;
    font-size: 16px;
    cursor: pointer;
    color: #784f1a;
  }
  
  .sell-rent-btn:hover {
    background-color: #f0b970;
  }
  
  .sell-rent-btn:active {
    background-color: #f0b970;
  }


.movie-btn:hover {
    box-shadow: .5em .5rem 1rem #fff, -.5em -.5rem 1rem #ccc
}

.movie-btn:active {
    box-shadow: inset .2rem .2rem 1rem #fff, inset -.2rem -.2rem 1rem #ccc
}




/* ------------------------------------------------------------------------------------------------------------------- */

























